/*
 * Стили для компонента FloorPlan.
 * Отображают поэтажные планы и списки помещений.
 * Адаптивная верстка: grid для больших экранов, flex для мобильных.
 */
.floor-plan {
  &__list {
    p {
      padding: 0.2rem 0;
      border-bottom: 2px solid var(--shadow);
    }
  }
}

@media (min-width: 768px) {
  .floor-plan {
    display: grid;
    gap: 1rem;
    grid-template:
    "img1 img2"
    "lst1 lst2"
    / 1fr 1fr;

  &__list {
      gap: 1rem;
    }
  }
}
@media (max-width: 767px) {
  .floor-plan {
    display: flex;
    flex-direction: column;

    &__list{
      display: flex;
      flex-direction: column;
      align-items: start;
    }
  }
}

